<%= simple_form_for(@part) do |f| %>
  <% if @part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@part.errors.count, "error") %> prohibited this part from being saved:</h2>

      <ul>
      <% @part.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= raw @part.headline %>
  </div>
  <hr style="width:50%; margin-left:0;">

  <div>
    <!-- FIXME: put label on top with css, not like this -->
    <%= f.label :tags %><br />
    <%= f.association :tags, :label => false, :as => :check_boxes %>
  </div>

  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_area :note, :size => "40x5" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
<% end %>
