<h1>Listing parts</h1>
<h2> total <%= @parts.total_count %> </h2>

<%= paginate @parts %>

<% @parts.each do |part| %>
  <hr style="width:50%; margin-left:0;">
    <div>
      <%= raw part.headline %>
    </div>
    <div>
      Tags:
      <i><%= part.tags.map {|t| t.word}.join(", ") %></i>
      <% if ! part.note.blank? %>
      (with note)
      <% end %>
    </div>
    <div>
    <%= link_to 'Show', part %>
    <%= link_to 'Edit', edit_part_path(part) %>
    <%= link_to 'Destroy', part, :confirm => 'Are you sure?', :method => :delete %>
    </div>
<% end %>

<%= paginate @parts %>

<br />
