<h1>Listing parts</h1>
<h2> total <%= @parts.total_count %> </h2>

<%= form_tag(search_path) do %>
  <% for tag in Tag.all %>
     <%= check_box_tag "tag_id[]", tag.id, @tag_ids.include?(tag.id)%>
     <%= tag.word %>
  <% end %>
  <%= submit_tag("Select") %>
<% end %>

<%= paginate @parts %>

<% @parts.each do |part| %>
  <hr style="width:50%; margin-left:0;">
  <%= render part %>
    <div>
    <%= link_to 'Show', part %>
    <%= link_to 'Edit', edit_part_path(part) %>
    <%= link_to 'Destroy', part, :confirm => 'Are you sure?', :method => :delete %>
    </div>
<% end %>

<%= paginate @parts %>

<br />
