<h1>Listing parts</h1>
<h2> total <%= @parts.total_count %> </h2>

<% if Tag.all.any? %>
<%= form_tag(search_path) do %>
  <% for category in Category.order("id") %>
  <!-- display tags with category -->
  <div style="float: left;">
  <% for tag in Tag.where(:category_id => category.id) %>
     <%= check_box_tag "tag_id[]", tag.id, @checked.include?(tag.id.to_s)%>
     <%= tag.word %>
     <br />
  <% end %>
  </div>
  <% end %>
  <!-- repeat for tags without category -->
  <div style="float: left;">
  <% for tag in Tag.where(:category_id => nil) %>
     <%= check_box_tag "tag_id[]", tag.id, @checked.include?(tag.id.to_s)%>
     <%= tag.word %>
     <br />
  <% end %>
  </div>
  <br style="clear: both;" />
  <%= submit_tag("Select") %>
<% end %>
<% end %>

<%= paginate @parts %>

<% @parts.each do |part| %>
  <hr style="width:50%; margin-left:0;">
  <%= render part %>
    <div>
    <%= link_to 'Show', part %>
    <%= link_to 'Edit', edit_part_path(part) %>
    <%= link_to 'Destroy', part, :confirm => 'Are you sure?', :method => :delete %>
    </div>
<% end %>

<%= paginate @parts %>

<br />
