<p>
  <b>Content:</b>
  <div>
  <%= raw @part.content %>
  </div>
</p>

<div>
  Tags:
  <% @part.tags.each do |tag| %>
  <i><%= tag.word %></i>
  <% end %>
</div>

<p>
  <b>Source:</b>
  <div>
  <!-- FIXME: this does not look good: access to the model from template directly -->
  <%= raw @part.source.info %>
  </div>
</p>


<%= link_to 'Edit', edit_part_path(@part) %> |
<%= link_to 'Back', parts_path %>
