<div>
  <b>Content:</b>
  <div>
  <%= raw @part.content %>
  </div>
</div>

<div>
  <b>Tags:</b>
  <i><%= @part.tags.map {|t| t.word}.join(", ") %></i>
</div>

</div>
  <% if ! @part.note.blank? %>
  <b>Note:</b>
  <%= @part.note %>
  <% end %>
</div>

<div>
  <b>Source:</b>
  <div>
  <!-- FIXME: this does not look good: access to the model from template directly -->
  <%= raw @part.source.info %>
  </div>
</div>


<%= link_to 'Edit', edit_part_path(@part) %> |
<%= link_to 'Back', parts_path %>
