<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= raw @part.content %>
</p>

<p>
  <b>Source:</b>
  <!-- FIXME: this does not look good: access to the model from template directly -->
  <%= raw @part.source.info %>
</p>


<%= link_to 'Edit', edit_part_path(@part) %> |
<%= link_to 'Back', parts_path %>
