<h1>Upload new source file and create parts</h1>

<%= form_for :upload, :url => {:action => "upload" }, :html => {:multipart => true} do |f| %>
  <%= f.file_field :file %>
  <%= f.submit %>
<% end %>

<% if @source %>
<div>
  <b>The last uploaded source:</b>
  <div>
    <%= raw @source.info %>
  </div>
</div>
<% end %>

<%= link_to 'Back', sources_path %>
