<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<header>
  <%= link_to "Tags", tags_path %>
  <%= link_to "Parts", parts_path %>
  <%= link_to "Sources", sources_path %>
</header>

<hr>

<% flash.each do |key, value| %>
<div id="<%= key %>"><%= value %></div>
<% end %>

<%= yield %>

<hr>

<footer>
  <%= link_to "Home", root_path %>
  <%= link_to "Contact", contact_path %>
  <%= link_to "About", about_path %>
</footer>

</body>
</html>
